@font-face {
    font-family: Minecraft;
    src: url("Minecraft.ttf");
}

* {
    font-family: Minecraft;
}
input[type="password"] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 25px;
    background-color: lightgreen;
    opacity: 0.6;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
}

input[type="password"]:focus {
    width: 100%;
}
input[type="text"] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 25px;
    background-color: lightgreen;
    opacity: 0.6;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
}

input[type="text"]:focus {
    width: 100%;
}

input[type="email"] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 25px;
    background-color: lightgreen;
    opacity: 0.6;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
}

input[type="email"]:focus {
    width: 100%;
}

.button_register {
    letter-spacing: 3px;
    width: 320px;
    height: 50px;
    border: none;
    border-radius: 50px;
    outline: none;
    color: #1a1423;
    cursor: pointer;
    position: relative;
    z-index: 0;
    background-color: blanchedalmond;
    font-size: 30px;
}

.button_register:before {
    content: "";
    background-color: blanchedalmond;
    background: linear-gradient(
        45deg,
        #c71f37,
        #bd1f36,
        #b21e35,
        #a71e34,
        #85182a,
        #6e1423,
        #641220,
        #780000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

.button_register:active {
    color: #450920;
}

.button_register:active:after {
    background-color: blanchedalmond;
}

.button_register:hover:before {
    opacity: 0.65;
}
.button_register:hover {
    opacity: 1;
}

.button_register:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: blanchedalmond;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.btn_register {
    font-family: "Minecraft", sans-serif;
}
